@import 'global-vars';

#pipeline {
  padding-top: 85px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  position: relative;

  .header-linebreak {
    margin-top: 12px;
  }

  ul {
    list-style-type: none;
  }
}

#pipelineHeader {
  min-height: 50px;
  width: 100%;
  float: left;
  margin-bottom: 37px;

  .pipeline-header-left,
  .pipeline-header-right {
    height: 100%;
  }

}

.pipeline-header-left {
  float: left;
  display: inline-block;
  width: calc(100% - 125px);

  .pipeline-icon,
  .pipeline-name,
  .pipeline-description {
    float: left;
    display: inline-block;
  }

  .pipeline-icon {
    height: 33px;
    width: 33px;
    margin-right: 12px;
    margin-top: 8.5px;
  }

  .pipeline-name,
  .pipeline-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pipeline-name {
    font-size: 21px;
    margin-top: 10px;
    margin-right: 16px;
    color: #111;
    max-width: calc(40% - 46px);
  }

  .pipeline-description {
    margin-left: 16px;
    color: rgba(64,75,85,0.6);
    font-size: 12px;
    padding-top: 18px;
    max-width: calc(60% - 46px - 10px);
  }

}

.pipeline-header-right {
  float: right;
  display: inline-block;
  padding-right: 10px;

  .new-app-btn {
    float: right;
    height: 32px;
    line-height: 28px;
    margin-top: 9px;
    text-align: center;
    color: $conflux-green;
    border: 1px solid $conflux-green;
    border-radius: 4px;
    font-size: 12px;
    font-family: Avenir-Next-Medium;
    cursor: pointer;
    padding: 0 9px;

    .plus {
      font-size: 18px;
      position: relative;
      top: 1px;
      left: 1px;
    }

    &:hover,
    &:active {
      background-color: #f7f7fc;
    }
  }

}

@media (max-width: 1099px) {

  #pipelineHeader {
    margin-bottom: 24px;
  }

  .pipeline-header-left,
  .pipeline-header-right {
    width: 100%;
    max-width: 100%;
  }

  .pipeline-header-right {
    padding-right: 0;

    .new-app-btn {
      margin-top: 25px;
    }

  }

}

@media (max-width: 749px) {

  #pipeline {
    padding-left: 30px;
    padding-right: 30px;
  }

  #pipelineHeader {

    .header-linebreak {
      display: none;
    }

  }

  .pipeline-header-left {

    .pipeline-name {
      max-width: calc(100% - 46px);;
      margin-right: 0;
    }

    .pipeline-description {
      max-width: 100%;
      width: 100%;
      margin-left: 0;
    }

  }
}

#noPipelinesView {
  width: 100%;
  margin-top: 250px;

  .message {
    font-size: 18px;
    text-align: center;
    color: rgba(0,0,0,0.45);
  }

  .new-pipeline-btn {
    width: 115px;
    height: 36.5px;
    margin-left: auto;
    margin-right: auto;
    line-height: 31px;
    margin-top: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 12.5px;
    font-family: Avenir-Next-Medium;
    cursor: pointer;

    .plus {
      font-size: 18px;
      position: relative;
      top: 1px;
      left: 1px;
    }

    &:hover,
    &:active {
      color: rgba(0, 0, 0, 0.6);
      border: 2px solid rgba(0, 0, 0, 0.4);
    }
  }

}

@media (max-width: 499px) {

  #pipeline {
    padding-left: 20px;
    padding-right: 20px;
  }

}