@import 'global-vars';

.config-vars-list {
  width: 100%;
  list-style-type: none;
  margin-top: 14px;
  float: left;
}

.config-vars-list > li {
  margin-top: 16px;
  float: left;
  width: 100%;

  .remove-key-icon,
  .edit-icon,
  .config-var-input,
  .key-info-icon,
  .add-new-key-btn {
    float: left;
    display: inline-block;
  }

  .key-info-icon {
    width: 33px;
    text-align: center;
    font-size: 13.5px;
    padding-top: 14px;
    color: #C5C6CC;
    cursor: pointer;
  }

  .config-var-input::-webkit-input-placeholder {
    color: #C4C5CA;
  }

  .config-var-input[disabled] {
    cursor: default;
  }

  .key-name-input.new {
    margin-left: 33px;
  }

  .key-val-input {
    margin-left: 15px;
  }

  .edit-icon {
    margin-left: 12px;
    padding-top: 8px;
  }

  .remove-key-icon {
    font-size: 19px;
    padding-top: 8px;
    margin-left: 13px;
    color: #C5C6CC;
    cursor: pointer;
  }

  .add-new-key-btn {
    width: 44px;
    height: 38px;
    margin-top: 1px;
    background-color: $conflux-green;
    color: white;
    text-align: center;
    padding-top: 11px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 12px;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.config-vars-list > li:first-child {
  margin-top: 0;
}

.config-var-input {
  background-color: white;
  border: 1px solid #E7E7EC;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  padding-left: 10px;
  padding-top: 2px;
  font-size: 14px;
  color: $conflux-black;
  width: calc((100% - 106px)/2);
  height: 40px;
}

.new-config-description {
  display: none;
  position: absolute;
  top: 56px;
  left: 32px;
  width: calc(100% - 90px);
  height: 34px;
  padding-top: 1px;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  opacity: 0;

  &.in {
    opacity: 1;
  }
}

.app-addon-body {
  .config-vars-container.no-write {
    .app-addon-subsection-title {
      margin-right: 23px;
    }

    .config-var-input {
      width: calc((100% - 67px) / 2);
    }
  }
}
