@import 'global-vars';

.service-container {
  max-width: 950px;
}

.service-header,
.service-body {
  width: 100%;
  float: left;
  display: block;
}

.service-header {
  padding-top: 55px;
  padding-left: 42px;
  padding-right: 42px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.primary-info-container {
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  width: 70%;
  text-align: center;

  .service-icon {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
    display: block;
  }

  .service-name {
    display: block;
    width: 100%;
    font-size: 24px;
    font-family: Avenir-Next-Medium;
    color: $conflux-black;
    text-align: center;
    height: 33px;
    margin-top: 20px;
  }

  .service-tagline {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    color: rgba(0,0,0,0.65);
    text-align: center;
    height: 20px;
    margin-top: 11px;
  }

}

.secondary-info-container {
  width: 100%;
  display: block;
  padding: 12px 0;
  float: left;
  color: #919191;

  .likes-links-container {
    display: inline-block;
    float: left;
    width: 50%;

    .likes {
      float: left;
      display: inline-block;
      position: relative;
      top: 1px;

      .likes-icon {
        height: 24px;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: -2px;
      }

      .likes-count {
        font-size: 15px;
        display: inline-block;
      }

    }

    .service-middot {
      font-size: 24px;
      height: 16px;
      opacity: 0.8;
      margin: 0 13px;
      float: left;
      display: inline-block;
      margin-top: -6px;
    }

    .service-links {
      float: left;

      .service-link {
        float: left;
        cursor: pointer;
      }

      .service-link-icon {
        float: left;
        height: 17px;
        margin: 0 5px;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }

        &.home {
          position: relative;
          top: 1px;
          margin-left: 0 !important;
        }

        &.facebook,
        &.github {
          height: 19px;
        }

        &.twitter {
          height: 22px;
          position: relative;
          top: -1px;
        }
      }

    }

  }

  .starting-at-container {
    display: inline-block;
    float: right;
    width: 50%;

    .starting-at {
      display: inline-block;
      float: right;
      font-size: 15px;
    }

  }
}

.edit-service-btn {
  background-image: url(https://ds8ypexjwou5.cloudfront.net/images/edit.svg);
  background-repeat: no-repeat;
  background-color: #14c07b;
  padding: 9px 15px 9px 36px;
  font-size: 13px;
  background-position: 15px 11px;
  background-size: 11px;
  border-radius: 3px;
  border: 0;
  letter-spacing: 1px;
  text-align: center;
  height: 36px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: fixed;
  left: 20px;
  bottom: 24px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #14C77F;
  }

  &:active {
    background-color: #14c07b;
  }
}

.service-section {
  padding: 22px 0;
  width: 100%;
  float: left;
}

.service-section-title {
  font-size: 24px;
  font-family: Avenir-Next-Thin;
  color: $conflux-green;
  width: 100%;
  display: block;
  padding: 20px 15px;
  padding-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}