@import 'global-vars';
@import 'menu/vars';

#menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 230px;
  background-color: $conflux-navy;
  z-index: 5;
}

#menuHeader {
  height: $header-height;
  border-bottom: 1px solid rgba(255,255,255, 0.05);
  padding-left: 15px;
  padding-right: 8px;
  padding-top: 10px;
  overflow: hidden;

  &:hover,
  &:active {
    background-color: rgba(255,255,255,0.075);
  }
}

#menuTeamIcon {
  width: 38px;
  height: 38px;
  margin-right: 15px;
  display: inline-block;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  line-height: 38px;
  background-size: 100%;
  text-align: center;
  font-family: Avenir-Next-Thin;

  &.no-icon {
    background: $conflux-green;
  }
}

#menuTeamName {
  font-size: 22px;
  display: inline-block;
  float: left;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 53px);
  color: white;
}

.slide-menu-back-icon {
  float: right;
  font-size: 18px;
  height: 100%;
  color: white;
  width: 25px;
  text-align: center;
  padding-top: 10px;
  display: none;
  cursor: pointer;
}

#menuBody {
  padding-left: 8px;
  padding-right: 9.5px;
}

.menu-body-item {
  margin-top: 20px;
  position: relative;

  .section-title,
  .ghost-add-btn {
    position: absolute;
    top: 3px;
    color: rgba(255,255,255,0.5);
    display: inline-block;
  }

  .section-title {
    left: 6px;
    font-size: 11px;
    text-transform: uppercase;
  }

  .ghost-add-btn {
    right: 7px;
    top: 2px;
    font-size: 14px;
    height: 17px;
    width: 17px;
    line-height: 13px;
    text-align: center;
    border-radius: 8.5px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.45);
    padding-left: 1px;
    cursor: pointer;

    &:hover,
    &:active {
      color: rgba(255, 255, 255, 0.85);
      border-color: rgba(255, 255, 255, 0.8);
    }
  }
}

#menuPipelinesList {
  margin-top: 29px;
  list-style-type: none;
  width: 100%;

  a {
    color: white;
    text-decoration: none;
    float: left;
    width: 100%;
    border-radius: 5px;
    padding-left: 8px;
    margin-bottom: 4px;

    &:hover,
    &.selected,
    &:active {
      background-color: rgba(255,255,255,0.32);
    }
  }

  .no-pipelines-menu-message {
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    float: left;
    height: 35px;
    margin-top: 30px;
    text-align: center;
    font-size: 13.5px;
    font-style: italic;
  }
}

.menu-pipeline {
  color: white;
  width: 100%;
  float: left;
  height: 35px;

  img,
  .pipeline-name {
    float: left;
    display: inline-block;
  }

  img {
    height: 19px;
    width: 19px;
    margin-right: 10px;
    margin-top: 8px;
  }

  .pipeline-name {
    width: calc(100% - 29px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-family: Avenir-Next-Thin;
    margin-top: 8px;
  }
}

#menuFooter {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(255,255,255,0.1);

  .menu-footer-link {
    text-decoration: none;
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;

    &.no-settings {
      margin-left: 33.33%;
    }

    &:hover,
    &.selected,
    &:active {
      background-color: rgba(255,255,255,0.12);
    }

    img {
      width: 19px;
      height: 19px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      opacity: 0.9;
    }

    .fa {
      font-size: 19px;
      color: rgba(255,255,255,0.8);
      width: 100%;
      margin-top: 10px;
    }

    .fa-users {
      margin-top: 11px;
    }
  }

  .dropdown-container {
    top: -88px;
    left: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 991px) {
  #menu {
    left: -230px;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  #menu.slide-out {
    left: 0;
  }

  .slide-menu-back-icon {
    display: inline-block;
  }
}




