@font-face {
  font-family: Avenir-Next-Regular;
  src: url(/fonts/avenir-next-regular.ttf) format('truetype');
}

@font-face {
  font-family: Avenir-Next-Italic;
  src: url(/fonts/avenir-next-italic.ttf) format('truetype');
}

@font-face {
  font-family: Avenir-Next-Thin;
  src: url(/fonts/avenir-next-thin.ttf) format('truetype');
}

@font-face {
  font-family: Avenir-Next-Medium;
  src: url(/fonts/avenir-next-medium.ttf) format('truetype');
}

@font-face {
  font-family: Avenir-Next-DemiBold;
  src: url(/fonts/avenir-next-demibold.ttf) format('truetype');
}

@font-face {
  font-family: Avenir-Next-Bold;
  src: url(/fonts/avenir-next-bold.ttf) format('truetype');
}