$conflux-gray: #606062;
$conflux-green: #0EBEC1;
$conflux-green-hover: #10C2C9;
$conflux-navy: #0B283A;
$conflux-black: #111;
$header-dark-text-color: #404B55;
$header-dark-btn-hover-bg-color: rgba(196,197,206,0.2);
$made-with-love: #EE194B;
$footer-gray: #A0A0A2;
$invalid: rgba(255,0,0,0.5)