@import 'global-vars';

#toolbelt {

  .toolbelt-subheader {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .title {
    font-size: 26px;
  }

  .subtitle {
    max-width: 1010px;
  }

  .toolbelt-body {
    margin-top: 30px;
    max-width: 920px;
  }

  .download-os-options-container {
    width: 100%;
    display: block;
    height: 100px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .os-option {
    width: 33.33%;
    float: left;
    height: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;

    &.selected,
    &:hover {
      opacity: 0.875;
    }

    .os-icon {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .download-btn-container {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
  }

  .download-toolbelt {
    text-decoration: none;
    width: 50%;
    background-color: $conflux-green;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 43px;
    padding-top: 10px;
    border-radius: 3px;
    font-family: Avenir-Next-Thin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;

    .download-icon {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
      color: white;
      background-color: #12D2D8;
    }

    &:active {
      background-color: $conflux-green;
    }
  }

  .help-text {
    display: none;
    position: relative;
    top: 4px;
  }

  .manual-download {
    display: none;
    margin-top: 4px;
  }

  .before-getting-started,
  .conflux-md-numbered-section,
  .numbered-title,
  .sub-section,
  .sub-section-title,
  .md-section-description,
  .md-text,
  div.md-shell {
    width: 100%;
    float: left;
  }

  .before-getting-started {
    margin-top: 15px;
    margin-bottom: 3px;
  }

  .conflux-md-numbered-section {
    padding-top: 34px;

    .numbered-title {
      font-size: 21px;
      color: #919191;
      border-bottom: 1px solid #eee;
      padding-bottom: 10.5px;
      margin-bottom: 10.5px;
    }

    .sub-section {
      padding-top: 16px;

      .sub-section-title {
        font-size: 16.5px;
        font-family: Avenir-Next-Medium;
      }
    }

    &:last-child {
      padding-bottom: 42px;
    }
  }

  .numbered-title + .md-section-description {
    padding-top: 8px;
  }

  .md-text {
    font-size: 16px;
    font-family: Avenir-Next-Thin;
    color: rgba(0,0,0,0.8);
    padding: 8px 0;

    .md-text-strong {
      font-family: Avenir-Next-Regular;
    }

    .feaux-link {
      color: $conflux-green;
      font-family: Avenir-Next-Regular;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .before-getting-started,
  .md-text {
    a {
      color: $conflux-green;
      font-family: Avenir-Next-Regular;

      &:hover,
      &:active,
      &:focus {
        color: $conflux-green;
      }
    }
  }

  // Single-line
  span.md-shell {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    padding: 2px 4px;
    font-size: 82%;
    color: #3F3F44;
    background-color: #f5f5f7;
    border-radius: 4px;
  }

  .toolbelt-support {
    width: 100%;
    float: left;
    padding: 42px;
    background-color: #249cf2;
    position: relative;

    .support-title {
      width: 100%;
      float: left;
      font-size: 24px;
      color: white;
      font-family: Avenir-Next-Thin;
      text-align: center;
      padding-bottom: 27px;
    }

    .support-body {
      float: left;
      width: 100%;
      text-align: center;

      .support-body-inner {
        display: inline-block;
        margin: 0 auto;

        .support-section {
          text-align: left;
          padding: 8px 0;
          color: rgba(255,255,255,0.8);
          font-family: Avenir-Next-Thin;
          font-size: 16px;

          .topic {
            font-family: Avenir-Next-Regular;
            color: white;
          }
        }
      }
    }

  }
}

#toolbelt,
#service {
  // Multi-line
  div.md-shell {
    font-family: Monaco, monospace;
    font-size: 13px;
    background: #434e56;
    border: 1px solid #3f464c;
    color: #adc6ee;
    border-radius: 3px;
    line-height: 19px;
    margin: 5px 0 11px 0;
    padding: 12px;
    word-spacing: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;

    .command {
      color: #F8F8F8;
    }

    .prompt {
      color: #B4B4BC;
    }
  }

  .md-shell.relative {
    .copy-to {
      position: absolute;
      right: 14px;
      color: white;
      font-size: 14px;
      cursor: pointer;
      top: 15px;
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.85;
      }
    }
  }
}


@media (max-width: 699px) {
  #toolbelt {
    .subtitle {
      padding: 0 2%;
    }

    .download-toolbelt {
      width: 90%;
    }

  }
}


@media (max-width: 599px) {
  #toolbelt {

    .download-os-options-container {
      height: 75px;
    }

    .md-shell.relative {
      .copy-to {
        display: none;
      }
    }

  }
}

@media (max-width: 475px) {
  #toolbelt {

    .download-os-options-container {
      height: 65px;
    }

    .download-toolbelt {
      font-size: 17px;
      font-family: Avenir-Next-Regular;
      height: 44px;
    }

    .manual-download > .md-text,
    .help-text {
      font-size: 14px !important;
    }

  }
}

@media (max-width: 399px) {
  #toolbelt {

    .download-os-options-container {
      height: 45px;
    }

  }
}